@media(max-width: 535px){
    main{
        padding: 0 1rem;
    }

    .container{
        grid-template-columns: 1fr;
    }

    .container .product img{
        border-radius: 10px 10px 0 0;
    }

    .container .info{
        padding: 1.5rem;
        gap: 1rem;
    }


}